a {
  color: #550000;
  text-decoration: underline;
}

.nav {
  list-style-type: none;
  margin: 0 30px;
  padding: 0;
  float: right;
}

.nav li {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #EFEFEF;
}

.content {
  padding: 20px 0;
}

tr:nth-child(odd) {
  background-color: #EFEFEF;
}

table {
  border-collapse: collapse;
  margin: 30px;
}

th {
  text-align: left;
}

td, th {
  padding: 10px;
}
