body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.4em;
}

a {
  color: #000;
  text-decoration: underline;
}

.nav-holder {
  box-shadow: 0px 4px 4px #666;
  margin-bottom: 10px;
}

.footer {
  width: 800px;
  margin: 0 auto;
  font-size: 0.7em;
}

.footer-holder {
  box-shadow: 0px -4px 4px #666;
  margin-top: 10px;
}

.nav {
  list-style-type: none;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  display: block;
}

.nav li.home a {
  font-size: 1.3em;
}

.nav a:hover {
  color: #666;
}

.nav li {
  display: inline-block;
  margin-right: 25px;
}

.nav .add {
  background-image: url("/static/icons/add.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 45%;
  padding-left: 22px;
}

.nav .export {
  background-image: url("/static/icons/export.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 25px;
}

.nav .settings {
  background-image: url("/static/icons/settings.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 22px;
}


.nav .logout {
  background-image: url("/static/icons/logout.png");
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: 0 45%;
  padding-left: 22px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  min-height: 450px;
}

tr:nth-child(odd) {
  background-color: #F6F6F6;
}

table {
  border-collapse: collapse;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 5px;
}


th {
  text-align: left;
}

td, th {
  padding: 10px;
}

.card-holder {
  display: inline-block;
  width: 400px;
}

.card {
  border: 1px solid #000;
  padding: 10px;
  margin: 15px;
  display: inline-block;
  box-shadow: 5px 2px 5px #666;
}

.card.small {
  width: 140px;
}

.card.inline {
  display: inline-block;
  vertical-align: top;
}

.card h3, .card h4, .card h5 {
  margin: 0;
}

.card h4, .card h5 {
  font-weight: normal;

}
